<div class="tabs-container">
    @for (tab of tabs; track $index) {
        <span
            [class.tab-highlight]="tabState() === $index"
            (click)="changeTab($index)">
            {{ tabs[$index] }}
        </span>
    }
    <span class="placeholder"></span>
    <span class="log-info" 
        *ngIf="authService.user()"> 
        logged in as {{ authService.user() }} 
    </span>
    <img src="../../assets/logout-icon.svg" alt=""
        height="20"
        *ngIf="authService.user()"
        class="logout-icon"
        (click)="logoutClicked()">
</div>

<div class="action-buttons">
    <button 
        class="primary-button"
        *ngIf="selectedItems.length == 0"
        (click)="onPostClicked()">
        Post a new idea
    </button>
    <span class="placeholder"> </span>
    <button 
        class="primary-button"
        *ngIf="selectedItems.length > 0"
        (click)="onChStatusClicked()">
        Change status
    </button>
    <img src="../../assets/erase-icon.svg" 
        alt="clear selection" 
        width="35"
        *ngIf="selectedItems.length > 0"
        (click)="clearSelection()">
</div>

<div class="idea-list">
    @for (idea of ideaSignalService.ideas(); track $index) {
        <div class="list-item list-card" (click)="onDetailsClicked(idea._id)">
            <div class="idea-user">
                <strong> {{ idea.createdBy }} </strong> posted on 
                {{ idea.createdAt | date : "dd MMM, HH:mm"  }}:
            </div>
            <div class="idea-title">
                {{ idea.title }}
            </div>
            <div class="idea-desc">
                {{ idea.description }}
            </div>
            <div class="idea-footer">
                <span
                    class="details-button">
                    {{ idea.voteCount }} {{ idea.voteCount > 1 ? 'votes' : 'vote' }}
                </span>
                <span
                    class="details-button">
                    {{ idea.comments.length }} {{ idea.comments.length > 1 ? 'comments' : 'comment' }}
                </span>
                <span>
                    status: <strong> {{ idea.status }} </strong>
                </span>
            </div>
            <div class="idea-buttons">
                <button class="idea-button" 
                    *ngIf="!ideaSignalService.votedForIds().includes(idea._id)"
                    (click)="vote(idea._id); $event.stopPropagation()">
                    Vote
                </button>
                <button class="idea-button button-highlight" 
                    *ngIf="ideaSignalService.votedForIds().includes(idea._id)"
                    (click)="unvote(idea._id); $event.stopPropagation()">
                    Unvote
                </button>
                <img 
                    *ngIf="idea.createdBy === authService.user()"
                    src="../../assets/edit-icon.svg" 
                    alt="Edit idea" 
                    height="30"
                    class="action-icon"
                    (click)="onEditClicked(idea); $event.stopPropagation()"
                >
                <img 
                    *ngIf="idea.createdBy === authService.user()"
                    src="../../assets/remove-icon.svg" 
                    alt="Remove idea" 
                    height="30"
                    class="action-icon"
                    (click)="onRemoveClicked(idea); $event.stopPropagation()"
                >
                <span class="placeholder"></span>
                <input type="checkbox"
                    class="idea-checkbox"
                    (click)="$event.stopPropagation()"
                    (change)="onCheckboxChanged($event, idea._id)"
                    [checked]="selectedItems.includes(idea._id)"
                >
            </div>
        </div>
    }
</div>

@if (popupState() > 0) {
    <div class="popup-container">
      <div class="popup-window">
          @if (popupState() === 1) {
            <div class="popup-title">
                Post a new idea:
            </div>
            <form [formGroup]="newIdeaForm" (ngSubmit)="onSaveNewIdea()">
              <div class="form-items">
                <label for="title" class="form-label">
                    Title:
                </label>
                <input 
                    type="text" 
                    class="form-input"
                    formControlName="title"
                    id="ideaTitle">
                <label for="title" class="form-label">
                    Description:
                </label>
                <textarea 
                    type="text" 
                    class="form-input"
                    formControlName="description"
                    id="ideaDescription">
                </textarea>
                </div>
                <div class="action-buttons">
                    <button 
                        class="primary-button"
                        type="submit"
                        [disabled]="newIdeaForm.invalid">
                        Save
                    </button>
                    <button 
                        class="secondary-button"
                        type="button"
                        (click)="onCancelClicked()">
                        Cancel
                    </button>
                </div>
            </form>
          }

          @if (popupState() === 2) {
            <div class="popup-title">
                Edit your idea:
            </div>
            <form [formGroup]="newIdeaForm" (ngSubmit)="onSaveEditedIdea()">
              <div class="form-items">
                <label for="title" class="form-label">
                    Title:
                </label>
                <input 
                    type="text" 
                    class="form-input"
                    formControlName="title"
                    id="ideaTitle">
                <label for="title" class="form-label">
                    Description:
                </label>
                <textarea 
                    type="text" 
                    class="form-input"
                    formControlName="description"
                    id="ideaDescription">
                </textarea>
                </div>
                <div class="action-buttons">
                    <button 
                        class="primary-button"
                        type="submit"
                        [disabled]="newIdeaForm.invalid">
                        Save
                    </button>
                    <button 
                        class="secondary-button"
                        type="button"
                        (click)="onCancelClicked()">
                        Cancel
                    </button>
                </div>
            </form>
          }

          @if (popupState() === 3) {
            <div class="popup-title">
                Remove your idea:
            </div>
            <div class="popup-message">
                Do you really want to remove this idea?
            </div>
            <div class="popup-message">
                <strong> {{ selectedIdea()?.title }} </strong>
            </div> 
            <div class="action-buttons">
                <button 
                    class="primary-button"
                    type="button"
                    (click)="removeIdea()">
                    Remove
                </button>
                <button 
                    class="secondary-button"
                    type="button"
                    (click)="onCancelClicked()">
                    Cancel
                </button>
            </div>
          }

          @if (popupState() === 4) {
            <div class="popup-title">
                Details:
            </div>
            <div class="list-item" *ngIf="selectedIdea()">
                <div class="idea-user">
                    {{ selectedIdea()?.createdBy }} posted on 
                    {{ selectedIdea()?.createdAt | date : "dd MMM, hh:mm"  }}:
                </div>
                <div class="idea-title">
                    {{ selectedIdea()?.title }}
                </div>
                <div class="idea-desc">
                    {{ selectedIdea()?.description }}
                </div>
                <div class="comments-container">
                    <div class="comments-title">
                        Comments:
                    </div>
                    <form [formGroup]="commentForm" (ngSubmit)="onSendComment()">
                      <div class="comment-input-row">
                        <input 
                            type="text" 
                            class="comment-input"
                            formControlName="text"
                            placeholder="Add your comment">
                        <img src="../../assets/send-icon.svg" height="24" alt="Send" 
                            class="comment-send"
                            *ngIf="commentForm.valid"
                            (click)="onSendComment()">
                      </div>
                    </form>
                    @for (comment of selectedIdea()?.comments; track $index) {
                        <div class="comment-header">
                            {{ comment.createdBy }} wrote on {{ comment.createdAt | date : "dd MMM, HH:mm" }}:
                            <img src="../../assets/remove-icon.svg" 
                                height="24px" 
                                alt="remove comment"
                                class="remove-comment-icon"
                                *ngIf="comment.createdBy === authService.user()"
                                (click)="onRemoveCommentClicked(comment)">
                        </div>
                        <div class="comment-text">
                            {{ comment.text }}

                        </div>
                    }
                </div>
            </div>
            <div class="vote-details">
                {{ selectedIdea()?.voteCount }} vote(s)
                <span *ngIf="(selectedIdea()?.voteCount || 0) > 0">
                    by @for (vote of selectedIdea()?.votes; track $index) {
                        {{ vote.createdBy + ($index + 1 === selectedIdea()?.votes?.length ? '' : ', ') }}
                    }
                </span>
            </div>
            <div class="action-buttons">
                <button 
                    class="secondary-button"
                    type="button"
                    (click)="onCancelClicked()">
                    Close
                </button>
            </div>
          }

          @if (popupState() === 5) {
            <div class="popup-title">
                Remove your comment:
            </div>
            <div class="popup-message">
                Do you really want to delete this comment?
            </div>
            <div class="popup-message">
                <i> {{ selectedComment()?.text }} </i>
            </div> 
            <div class="action-buttons">
                <button 
                    class="primary-button"
                    type="button"
                    (click)="removeComment()">
                    Delete
                </button>
                <button 
                    class="secondary-button"
                    type="button"
                    (click)="onKeepClicked()">
                    Keep
                </button>
            </div>
          }

          @if (popupState() === 6) {
            <div class="popup-title">
                Change status of selected items:
            </div>
            <div class="status-select">
                <select name="status-dropdown" id="status-dropdown" #statusDropdown>
                    @for (item of statusChoice(); track $index) {
                        <option value="{{ item.code }}"> {{ item.displayName }} </option>
                    }
                </select>
            </div>
            <div class="action-buttons">
                <button 
                    class="primary-button"
                    type="button"
                    (click)="changeStatus()">
                    Update
                </button>
                <button 
                    class="secondary-button"
                    type="button"
                    (click)="onCancelClicked()">
                    Cancel
                </button>
            </div>
          }

          @if (popupState() === 99) {
            <div class="popup-title">
                An error occured:
            </div>
            <div class="error-message">
                {{ errorMessage() }}
            </div>
            <div class="action-buttons">
                <button 
                    class="secondary-button"
                    type="button"
                    (click)="onCancelClicked()">
                    OK
                </button>
            </div>
          }
      </div>
    </div>
}

@if (isLoading()) {
    <div class="spinner">
        <img src="../../assets/Rolling@1x-1.0s-200px-200px.svg" width="80px" alt="please, wait">
    </div>
}
